:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

.main-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  padding: 2rem;
  gap: 2rem;
}

.main-sidebar {
  background-color: #222;
  border-radius: 1rem;
}
